h1 { 
display: flex;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(5, 182, 20);
justify-content: center;
}
h2{
    font-style: oblique;
}
.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 300px;
    align-items: center;
}
.logo{
    border-radius: 50%;

}
.taswira{
    border-radius: 70%;
}
div{
    display: flex;
    justify-content: space-around;
    border-radius: 30%;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    border-radius: 15%;
    
}
.div1{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    /* align-items: center; */

}
button{
    border-style: none;
    border-radius: 40%;
    font-size: smaller;
    background-color: white;
    color: black;
    font-size: small;
}
.button1{
    color: bisque;
    background-color: gray;
}
p{
    color:rgb(5, 182, 20);
    font-style: italic;
    font-size: 20px;
}
.carte{
    background-color: beige;
    border-radius: 10%;

}
.div2{
    background-color: whitesmoke;
    border-radius: 10%;
}
.div3{
    background-color: whitesmoke;
}
.wazn{
    color:rgba(0, 0, 0, 0.555) ;
    font-style: oblique;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 50%;
}
.kamia{
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 30%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.minus{
    width: 20px !important;
    border-radius: 50%;
    padding: 1px 1px;
    font-size: larger;
}
.plus {
  width: 20px !important;
  border-radius: 50%;
  padding: 1px 1px;
  font-size: larger;
}
.flous{
    font-size: 30px;
    font-style: oblique;
    color: green;
    
}
.marka{
    display: flex;
    justify-content: space-between;
}
.kalb {
    color: gray;
  }
.like {
 color:red;
}
/* .kalb {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKv72kNdWM9UIBEJK1Kna-YmZ2efHplI1sw&usqp=CAU");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
.like {
    background-image: url("https://previews.123rf.com/images/maryvalery/maryvalery1610/maryvalery161000060/66329816-j-aime-les-drogues-coeur-et-feuille-de-marijuana-embl%C3%A8me-pour-les-fans-de-fumer-de-l-herbe.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
} */